
.inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    zoom: 1;
}

/* - Contents - */
.categoryPopularSection .inner{
    margin: 70px auto 0;
}

/* - PopularSection - */
.PopularContent {
    border-top: 2px solid #000;
    margin-bottom: 50px;
}
.PopularContent .col {
    display: table-cell;
}
.PopularContent a {
    color: #222;
    text-decoration: none;
}
.PopularContent ul {
    padding-left: 0rem !important;
}
.PopularContent .depth1 {
    float: left;
    width: 170px;
    height: 540px;
    padding: 45px 0 0 25px;
    border-left: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}
.PopularContent .depth1 h3 {
    font-size: 30px;
    line-height: 34px;
}
.PopularContent1 .depth1 h3,
.PopularContent1 .PopularKeyword ul li a{
    color: #e8202e;
}
.PopularContent2 .depth1 h3,
.PopularContent2 .PopularKeyword ul li a{
    color: #00a698;
}
.PopularContent .PopularKeyword {
    margin-top: 170px;
}
.PopularContent .PopularKeyword ul li a {
    display: inline-block;
    height: 23px;
    line-height: 23px;
    font-size: 14px;
    padding: 3px 9px;
    margin-top: 10px;
    border: 1px solid #ccc;
}
.PopularContent .con_more {
    display: block;
    font-size: 12px;
    color: #999;
    margin-top: 7px;
    cursor: pointer;
}
.PopularContent .depth2 {
    position: relative;
    float: left;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}
.PopularContent .depth2 .ConEvnt {
    position: relative;
    display: block;
    cursor: pointer;
    width: 295px;
    height: 540px;
}
.PopularContent .depth2 .ConTx {
    width: 280px;
    padding: 52px 30px 0 25px;
}
.PopularContent .depth2 .ConTx pre {
    font-size: 24px;
    line-height: 35px;
    font-family: "NotoSans M";
    margin-bottom: 10px;
    letter-spacing: -1px;
    white-space: pre-wrap;
    word-break: break-all;
}
.PopularContent .depth2 .ConTx span {
    margin-top: 20px;
    color: #777;
}
.PopularContent .depth2 .ConPhoto {
    position: absolute;
    bottom: 0;
    width: 295px;
    height: 330px;
    overflow: hidden;
}
.PopularContent .depth2 .ConPhoto img {
    position: relative;
    left: -20px;
    width: 330px;
    height: 330px;
}
.PopularContent .bxBtn {
    position: absolute;
    z-index: 51;
    top: 165px;
    right: 12px;
    width: 43px;
    height: 21px;
    background-image: url("../../resources/image/evnt_btn.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.PopularContent .bxBtn .bx-prev,
.PopularContent .bxBtn .bx-next {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
}
.PopularContent .bxBtn .bx-prev {
    left: 0;
}
.PopularContent .bxBtn .bx-next {
    right: 0;
}
.PopularContent .depth3 {
    position: relative;
    /*height: 500px;*/
    overflow: hidden;
}
.PopularContent1 .depth3 .col_3 .bx_list .bxPhoto img {
    width: 100%;
    height: 100%;
}
.PopularContent2 .depth3 .col_3 .bx_list .bxPhoto img {
    top: 10px;
}
.depth3 .categoryPopularItems {
    padding: 6px 0 0 30px;
}

/* col_3 */
.depth3 .categoryPopularItems .col_3 {
    display: block;
    position: relative;
}
.depth3 .categoryPopularItems .col_3 li {
    display: inline-block;
    float: left;
    height: 250px;
    margin: 1.2rem 1.6rem 0 0;
}
.depth3 .categoryPopularItems .col_3 li:nth-child(3),
.depth3 .categoryPopularItems .col_3 li:nth-child(6) {
    margin-right: 0;
}
.depth3 .categoryPopularItems .col_3 li:hover {
    text-decoration: underline;
}
.depth3 .categoryPopularItems .col_3 li a {
    display: block;
}
.depth3 .col_3 .bx_list .bxInfo {
    width: 195px;
    height: 85px;
    margin-top: 5px;
    padding: 0 0 0 5px;
}
.depth3 .col_3 .bx_list .bxInfo .bxTitle {
    width: 195px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
    /*letter-spacing: -.3px;*/
    font-family: "NotoSans M";
}
.depth3 .col_3 .bx_list .bxInfo .bxEvent {
    width: 190px;
    line-height: 14px;
    color: #777;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px;
    font-family: "NotoSans";
}
.depth3 .col_3 .bx_list .bxInfo .bxPrice {
    margin-top: 3px;
}
.depth3 .col_3 .bx_list .bxInfo .bxPrice .text__price {
    font-size: 19px;
    font-weight: 700;
    /*letter-spacing: -.5px;*/
    font-family: "NotoSans";
}

.depth3 .col_3 .bx_list .bxInfo .bxPrice .text__unit {
    line-height: 11px;
    font-size: 14px;
    font-family: "NotoSans";
    font-weight: 400;
}
.depth3 .col_3 .bx_list .bxInfo .bxLabel {
    position: absolute;
    display: inline-block;
    padding-top: 4px;
}
.depth3 .col_3 .bx_list .bxInfo .bxLabel .main_label {
    display: inline-block;
    float: left;
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 0;
    color: #fff;
    background-color: #009f84;
    padding: 0 3px;
    margin-right: 3px;
}
.depth3 .col_3 .bx_list .bxPhoto {
    width: 200px;
    height: 160px;
    border-radius: 3px;
    overflow: hidden;
}
.depth3 .col_3 .bx_list .bxPhoto img {
    position: relative;
    width: 100%;
}
.depth3 .col_3 .stay_event {
    position: relative;
    top: 30px;
}
.depth3 .col_3 .stay_list {
    position: relative;
    top: 65px;
}


/* 서브메인 */
#sliderdiv {
  position: absolute;
  display:inline-block;
  width: 100%;
  height:500px;
  
  padding: auto;
  margin:0;
  left:0;
  text-align: center;
  top: 170px;
}
#sliderdiv_center{
   width:1300px;
   height:500px;
   display:block;
   margin:auto;
   padding:auto;
   text-align:center;
   background-color: #e0f0d7;
}
#main_searchform{
   float:left;
   position: relative;
   left: 10%;
   width: 30%;
   height:400px;
   vertical-align:middle;
   text-align:left;
   margin:0;
}
#main_searchform input[type=text]{
   width:80%;
   height:70px;
   background-color:transparent;
   border:3px solid white;
   font-size:2em;
   padding-left:10px;
   border-radius: 5px;
}

#carouselExampleInterval{
   float:left;
   position: relative;
   left: 10%;
   top:50px;
   width: 65%;
   height: 400px;
   margin:0;
}
.carousel {
  position: relative;
  height: 400px;
}
.carousel img{

    object-fit: cover;
}
.carousel.pointer-event {
  touch-action: pan-y;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
  
}

@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}
.carousel-item img{
   height:370px;
   object-fit:fill;
} 
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
 
}

.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
  transform: translateX(-100%);
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  transform: none;
}
.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
  z-index: 1;
  opacity: 1;
}
.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 0.6s;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
    transition: none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-control-prev,
.carousel-control-next {
    transition: none;
  }
}
.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

/* rtl:options: {
  "autoRename": true,
  "stringMap":[ {
    "name"    : "prev-next",
    "search"  : "prev",
    "replace" : "next"
  } ]
} */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-indicators [data-bs-target] {
    transition: none;
  }
}
.carousel-indicators .active {
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.carousel-dark .carousel-control-prev-icon,
.carousel-dark .carousel-control-next-icon {
  filter: invert(1) grayscale(100);
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #000;
}
.carousel-dark .carousel-caption {
  color: #000;
}









   .lywrap {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-left: 55px;
}



.item01{height:720px;position:relative;}
.ly_wrap .inr{padding-top:50px;}
.left{width:435px;position:relative;}
.right {
   width: 765px;
}

.ment{font-size:20px;line-height:34px;color:#111;margin:75px 0 5px 100px; text-align: left;}


 .tab-wrap {
  margin-left:100px;
  float: left;

}

.tab-menu {
 display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #333333;
}

.tab-menu-item {
  flex-basis: calc(33.33% - 1px); /* 3등분으로 나눈 후, 1px 만큼 빼줌 */   
  cursor: pointer;
  font-weight: bold;
  list-style: none;
  margin-right: 10px;
  padding: 10px 15px;
}

.tab-menu-item.active {
  border-bottom: 3px solid #0067a3;
}

.tab-content {

  padding: 20px;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}